.breadcrumbs {
  margin-top: 25px;
  margin-bottom: 48px;
  @include w1023 {
    margin-top: 26px;
    margin-bottom: 18px;
  }
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }
  &__item {
    margin-bottom: 7px;
    &:not(:last-child) {
      display: flex;
      align-items: center;
      &:after {
        content: '/';
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        margin: 0 10px;
      }
    }
  }
  &__link {
    @include w1023 {
      font-size: 13px;
      line-height: 130%;
    }
    &:not(a) {
      color: $neutral-color-5;
    }
    &:any-link {
      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  }
}
