.overlay {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;
  height: 200vh;
  background-color: rgba(26, 26, 26, 0.35);
  opacity: 0;
  visibility: hidden;
  &--active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear, opacity 0.2s linear;
  }
}

.header {
  position: relative;
  padding: 21px 0 22px;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
      259.96deg,
      rgba(64, 211, 129, 0.15) -1.79%,
      rgba(67, 163, 183, 0.15) 34.4%,
      rgba(41, 44, 200, 0.15) 98.8%
    );
  }
  &__container {
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    margin-right: 41px;
    &:hover path,
    &:focus path {
      fill: $primary-color;
    }
    svg {
      max-width: 100%;
      path {
        transition: 0.2s;
      }
    }
  }
  &__wrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
  }
  &-list {
    &__item {
      &:not(:last-child) {
        margin-right: 33.4px;
      }
    }
    &__link {
      font-weight: normal;
      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__phone {
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
  &__btn {
    margin-left: 40px;
    padding: 13px 26px;
  }
}
