.about {
  height: 567px;
  margin-bottom: 148px;
  background: url('../images/about.svg') center bottom repeat-x;
  &__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &__col {
    &:first-child {
      max-width: 710px;
    }
    &:last-child {
      display: flex;
      align-items: flex-end;
    }
  }
  &__img {
    transform: translateX(91px);
    margin-bottom: 1px;
  }
  &__title {
    margin-bottom: 84px;
  }
  &__text {
    margin-bottom: 68px;
    font-size: 18px;
    line-height: 130%;
  }
  &__navigation {
    display: flex;
    margin-bottom: 27px;
    padding-left: 0;
    list-style: none;
  }
  &-navigation {
    &__item {
      margin-right: 41px;
      &:first-child:last-child .about-navigation__btn {
        pointer-events: none;
        color: $neutral-color-1 !important;
        cursor: auto;
        &:before{
          width: 0;
        }
      }
    }
    &__btn {
      position: relative;
      padding: 0;
      padding-bottom: 6px;
      border: none;
      background: none;
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      cursor: pointer;
      &:hover,
      &:focus {
        color: $primary-color;
      }
      &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $primary-color;
        transition: width ease .2s;
      }
      &.tabs__btn--active {
        color: $primary-color;
        &:before{
          width: 100%;
        }
      }
    }
  }
  &__tab {
    display: none;
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 130%;
    &.tabs__container--active {
      display: block;
    }
  }
}
