.map {
  position: relative;
  @include w767 {
    margin-bottom: 0;
  }
  &__container {
    position: relative;
  }
  &__block {
    height: 408px;
    @include w1023 {
      height: 377px;
    }
    @include w767 {
      height: 569px;
      width: 100vw;
      transform: translateX(-16px);
    }
    .ymaps-2-1-78-copyrights-pane,
    .ymaps-2-1-78-controls-pane {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      border: 0;
      clip: rect(0 0 0 0);
    }
  }
  &__info {
    position: absolute;
    bottom: 15px;
    left: 31px;
    width: 296px;
    padding: 35px 50px 35px 35px;
    background: #fefefe;
    border-radius: 4px;
    @include w1023 {
      width: 231px;
      padding: 26px 40px 27px 26px;
      border-radius: 0;
    }
    @include w767 {
      left: 15px;
      right: 15px;
      width: auto;
      padding: 25px 24px;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    @include w1023 {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 110%;
    }
  }
  &__text {
    margin-bottom: 27px;
    @include w1023 {
      margin-bottom: 23px;
    }
    @include w767 {
      max-width: 170px;
      margin-bottom: 26px;
    }
  }
}
