.services {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 10px));
    grid-gap: 15px;
    padding-left: 0;
    list-style: none;
    @include w1023 {
      display: flex;
      grid-gap: 0;
      transform: translateX(-16px);
      width: 100vw;
      padding-left: 16px;
      overflow-x: auto;
    }
    @include w767 {
      display: block;
      transform: none;
      width: 100%;
      padding-left: 0;
    }
    &:after {
      @include w1023 {
        content: '';
        flex: 0 0 16px;
      }
      @include w767 {
        display: none;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid $blue-border-color;
    @include w1023 {
      min-width: 315px;
    }
    @include w767 {
      min-width: auto;
    }
    &:not(:last-child) {
      @include w1023 {
        margin-right: 15px;
      }
      @include w767 {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
  }
  &-item {
    &__img {
      width: 100%;
      height: 178px;
      object-fit: cover;
      @include w1023 {
        height: 186px;
      }
    }
    &__title {
      height: 62px;
      margin-top: 35px;
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 24px;
      line-height: 31px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @include w1023 {
        height: 36px;
        margin-top: 38px;
        margin-bottom: 18px;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
      }
      @include w767 {
        height: auto;
      }
    }
    &__text {
      margin-bottom: 35px;
      @include w1023 {
        margin-bottom: 25px;
      }
      ul {
        list-style: disc;
        padding-left: 18px;
        @include w1023 {
          padding-left: 14px;
        }
        li {
          &:not(:last-child) {
            margin-bottom: 10px;
            @include w1023 {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
    &__btn {
      margin-top: auto;
      padding: 13px 0;
      @include w1023 {
        padding: 10px 0;
      }
    }
  }
  &__form {
    position: relative;
    margin-top: 30px;
    padding: 29px 0;
    background: linear-gradient(
      79.8deg,
      rgba(64, 211, 129, 0.05) -10.18%,
      rgba(67, 163, 183, 0.05) 24%,
      rgba(41, 44, 200, 0.05) 102.29%
    );
    @include w1023 {
      padding: 19px 0;
    }
    @include w767 {
      padding: 15px 0;
    }
  }
  &-form {
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
    }
    &:before {
      top: 0;
      background: linear-gradient(
        259.96deg,
        rgba(41, 44, 200, 0.18) -1.79%,
        rgba(65, 198, 143, 0.297882) 25.52%,
        rgba(67, 166, 179, 0.317943) 42.24%,
        rgba(67, 163, 183, 0.32) 73.45%,
        rgba(64, 211, 129, 0.29) 105.21%
      );
      opacity: 0.8;
    }
    &:after {
      bottom: 0;
      background: linear-gradient(
        259.96deg,
        rgba(64, 211, 129, 0.15) -0.63%,
        rgba(67, 163, 183, 0.15) 40.93%,
        rgba(41, 44, 200, 0.15) 99.9%
      );
    }
    &__container {
      display: flex;
      align-items: center;
      @include w767 {
        display: block;
      }
    }
    &__text {
      margin: 0;
      font-weight: normal;
      font-size: 20px;
      line-height: 130%;
      @include w1023 {
        font-size: 15px;
      }
      @include w767 {
        margin-bottom: 20px;
      }
    }
    &__arr {
      flex: 1;
      height: 12px;
      margin: 0 52px;
      background: url('../images/icon-arr-services.svg') right center/cover no-repeat;
      @include w1023 {
        margin: 0 30px;
      }
      @include w767 {
        display: none;
      }
    }
    &__btn {
      padding: 13px 26px;
      @include w1023 {
        padding: 10px 37px;
        white-space: nowrap;
      }
      @include w767 {
        width: 100%;
        padding: 10px 0;
      }
    }
  }
}
