.why {
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 341px);
    grid-gap: 38px;
    padding-left: 0;
    list-style: none;
    @include w1200 {
      grid-template-columns: repeat(3, calc(33.33% - 10px));
      grid-gap: 15px;
    }
    @include w1023 {
      padding-top: 5px;
      grid-gap: 14px;
    }
    @include w767 {
      padding-top: 11px;
      grid-template-columns: 100%;
      grid-gap: 35px;
    }
  }
  &__item {
    position: relative;
    padding-left: 32px;
    @include w1023 {
      padding-left: 21px;
    }
    @include w767 {
      padding-left: 37px;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -12px;
      left: 10px;
      width: 104px;
      height: 64px;
      background: url('../images/icon-why.svg') center/100% no-repeat;
      @include w1023 {
        top: -10px;
        left: 5px;
        width: 73px;
        height: 46px;
      }
    }
    &:nth-child(2) {
      @include w1023 {
        margin-left: 20px;
      }
      @include w767 {
        margin-left: 0;
      }
    }
    &:nth-child(3) {
      @include w1023 {
        margin-left: 2px;
      }
      @include w767 {
        margin-left: 0;
      }
    }
  }
  &-item {
    &__num {
      position: absolute;
      top: -4px;
      left: 0;
      font-weight: 600;
      font-size: 32px;
      line-height: 110%;
      @include w1023 {
        top: -1px;
        left: -1px;
        font-size: 20px;
      }
      &:before {
        content: attr(data-count);
        position: absolute;
        top: 2px;
        left: 2px;
        opacity: 0.3;
        background: linear-gradient(259.96deg, #40d381 -1.14%, #43a3b7 40.93%, #292cc8 105.21%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &__title {
      margin-top: 0;
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 24px;
      line-height: 130%;
      @include w1200 {
        font-size: 18px;
      }
      @include w1023 {
        margin-bottom: 5px;
        font-size: 16.4px;
      }
      @include w767 {
        margin-bottom: 7px;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
      }
    }
    &__text {
      @include w767 {
        max-width: 271px;
      }
    }
  }
}
