section.contacts#contacts.margin-section
  .container
    h2.h1title.contacts__title Оставьте заявку, и мы с вами свяжемся!
    .contacts__content 
      form.contacts__col(action="#") 
        input.contacts__input.input(type="text" placeholder="Имя" data-required)
        input.contacts__input.input(type="tel" placeholder="Телефон" data-type="tel")
        input.contacts__input.input(type="email" placeholder="E-mail")
        textarea.contacts__textarea.textarea(placeholder="Описание" data-type="textarea")
        p.contacts__agree Нажимая на кнопку вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
        button.contacts__btn.btn-primary(type="submit") Отправить
      .contacts__col
        p.contacts__subtitle Как с нами связаться?
        .contacts__info.contacts-info
          h4.contacts-info__title Электронная почта
          a.contacts-info__link(href="mailto:info@dpclo.ru") info@dpclo.ru
        .contacts__info.contacts-info
          h4.contacts-info__title Номер телефона
          a.contacts-info__link(href="tel:89602664070") +7 (960) 266-40-70
        .contacts__info.contacts-info
          h4.contacts-info__title Мессенджеры
          ul.contacts-info__socials
            li.contacts-info__social <!-- .contacts-info__sociallink--wp, .contacts-info__sociallink--inst-->
              a.contacts-info__sociallink.contacts-info__sociallink--tg(href="#")

section.map.margin-section
  .container.map__container
    .map__block
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1ffc7466e7646ae41ad0c89d4c8256e1838db68874914df5b606db2bb26016ed&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
    .map__info 
      h4.map__title Адрес:
      p.map__text Смольный проспект, дом 17, г. Санкт-Петербург
      h4.map__title Время работы:
      p.map__text Понедельник - воскресенье 13:00 - 21:00