extends ../template

block variables
  - var title = 'Кейс'
  - var breadrumbs = 1

block content
  section.case.margin-section 
    .container
      h1.h1title Парадно-спортивные костюмы
      .case__content
        .case__main 
          .case__slider.case-slider.swiper-container
            ul.case-slider__wrapper.swiper-wrapper
              li.case-slider__slide.case-slider-slide.swiper-slide
                picture
                  source(type="image/webp" srcset="images/projects.jpg")
                  img.case-slider-slide__img(src="images/projects.jpg" alt="Парадно-спортивные костюмы") 
              li.case-slider__slide.case-slider-slide.swiper-slide
                picture
                  source(type="image/webp" srcset="images/projects2.jpg")
                  img.case-slider-slide__img(src="images/projects2.jpg" alt="Парадно-спортивные костюмы") 
              li.case-slider__slide.case-slider-slide.swiper-slide
                picture
                  source(type="image/webp" srcset="images/projects3.jpg")
                  img.case-slider-slide__img(src="images/projects3.jpg" alt="Парадно-спортивные костюмы") 
              li.case-slider__slide.case-slider-slide.swiper-slide
                picture
                  source(type="image/webp" srcset="images/projects.jpg")
                  img.case-slider-slide__img(src="images/projects.jpg" alt="Парадно-спортивные костюмы") 
              li.case-slider__slide.case-slider-slide.swiper-slide
                picture
                  source(type="image/webp" srcset="images/projects2.jpg")
                  img.case-slider-slide__img(src="images/projects2.jpg" alt="Парадно-спортивные костюмы") 
            .swiper-pagination
            .swiper-button-prev
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.3">
                  <path d="M2.00033 9.99968L7.33366 15.333M2.00033 9.99968L7.33366 4.66634M2.00033 9.99968L18.667 9.99967" stroke="url(#paint0_linear)"/>
                </g>
                <defs>
                  <linearGradient id="paint0_linear" x1="1.28781" y1="14.0248" x2="20.786" y2="8.63011" gradientUnits="userSpaceOnUse">
                    <stop offset="0.213542" stop-color="#292CC8"/>
                    <stop offset="0.651042" stop-color="#43A3B7"/>
                    <stop offset="1" stop-color="#40D381"/>
                  </linearGradient>
                </defs>
              </svg>
            .swiper-button-next
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.3">
                  <path d="M17.9997 10.0003L12.6663 4.66699M17.9997 10.0003L12.6663 15.3337M17.9997 10.0003L1.33301 10.0003" stroke="url(#paint0_linear)"/>
                </g>
                <defs>
                  <linearGradient id="paint0_linear" x1="18.7122" y1="5.97517" x2="-0.785986" y2="11.3699" gradientUnits="userSpaceOnUse">
                    <stop offset="0.213542" stop-color="#292CC8"/>
                    <stop offset="0.651042" stop-color="#43A3B7"/>
                    <stop offset="1" stop-color="#40D381"/>
                  </linearGradient>
                </defs>
              </svg>

          .case__info.case-info.tabs
            ul.about__navigation.about-navigation
              li.about-navigation__item 
                button.about-navigation__btn.tabs__btn.tabs__btn--active(data-tab="1") Задача
              li.about-navigation__item 
                button.about-navigation__btn.tabs__btn(data-tab="2") Процесс работы
              li.about-navigation__item 
                button.about-navigation__btn.tabs__btn(data-tab="3") Результат
            .case-info__tab.case-info-tab.tabs__container.tabs__container--active(data-tab="1")
              p Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет оценить значение соответствующий условий активизации. Не следует, однако забывать, что постоянное информационно-пропагандистское. Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития.
              p Равным образом новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров.
            .case-info__tab.case-info-tab.tabs__container(data-tab="2")
              ul 
                li Равным образом постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации системы обучения кадров
                li Не следует, однако забывать, что постоянное информационно-пропагандистское. Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития
                li Таким образом начало повседневной работы по формированию позиции в этой степени обуславливает создание активизации роста и работы в морском море
              p.case-info-tab__backgroundtext Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет оценить значение соответствующий условий активизации. Не следует, однако забывать, что постоянное информационно-пропагандистское. Таким образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития.
            .case-info__tab.case-info-tab.tabs__container(data-tab="3")
              p В результате Заказчик получил изделие полностью соответствующее его ожиданиям
        aside.case__aside.case-aside
          h3.case-aside__title Основная информация
          ul.case-aside__content 
            li.case-aside__item
              h4.case-aside__subtitle Срок разработки: 
              p.case-aside__text 30 дней
            li.case-aside__item
              h4.case-aside__subtitle Заказчик: 
              p.case-aside__text <span>_levitacia^</span>
            li.case-aside__item
              h4.case-aside__subtitle Услуга: 
              p.case-aside__text разработка дизайна
            li.case-aside__item
              h4.case-aside__subtitle Кол-во единиц: 
              p.case-aside__text 150