extends ../template

block variables
  - var title = 'Главная'

block content
  section.banner.margin-section 
    .container.banner__container 
      .banner__col
        h1.banner__title Разработка одежды <span class="hint">«под ключ»</span>
        p.banner__text Мы воплотим любые Ваши идеи в реальность, работаем как над технологически сложными изделиями, так и над базовыми моделями
        .banner__row 
          button.banner__btn.btn-primary.popup-btn(data-popup="request" data-services="Полный цикл производства одежды") Оформить заявку
          a.banner__btn.btn-secondary(href="#") Смотреть портфолио
      .banner__col
        picture
          source(type="image/webp" srcset="images/banner-boy.png")
          img.banner__img(src="images/banner-boy.png" alt="Разработка одежды «под ключ»")

  section.services#services.margin-section 
    .container
      h2.h1title Какие услуги мы предлагаем?
      ul.services__list 
        li.services__item.services-item
          picture
            source(type="image/webp" srcset="images/services.jpg")
            img.services-item__img(src="images/services.jpg" alt="Разработка технической документации")
          h3.services-item__title Разработка технической документации
          .services-item__text 
            ul 
              li конструкторская документация
              li технологическая документация
              li лекальная база
          button.services-item__btn.btn-secondary.popup-btn(data-popup="request" data-services="Разработка технической документации") Оформить заявку
        li.services__item.services-item
          picture
            source(type="image/webp" srcset="images/services2.jpg")
            img.services-item__img(src="images/services2.jpg" alt="Разработка дизайна")
          h3.services-item__title Разработка дизайна
          .services-item__text 
            ul 
              li отрисовка эскизов по тех. заданию
              li разработка дизайна по тех. заданию
              li разработка макетов для принта и вышивки
          button.services-item__btn.btn-secondary.popup-btn(data-popup="request" data-services="Разработка дизайна") Оформить заявку
        li.services__item.services-item
          picture
            source(type="image/webp" srcset="images/services3.jpg")
            img.services-item__img(src="images/services3.jpg" alt="Производство")
          h3.services-item__title Производство
          .services-item__text 
            ul 
              li проработка первичного образца по тех. заданию
              li разработка дизайна
              li производство тестового образца
          button.services-item__btn.btn-secondary.popup-btn(data-popup="request" data-services="Производство") Оформить заявку
    .services__form.services-form
      .container.services-form__container
        p.services-form__text Есть потребность заказать услугу «под ключ»?
        .services-form__arr 
        button.services-form__btn.btn-primary.popup-btn(data-popup="request" data-services="Полный цикл производства одежды") Оставить контактные данные

  section.projects.margin-section 
    .container
      h2.h1title Наши проекты
      .projects__top 
        ul.projects__navigation.projects-navigation
          li.projects-navigation__item 
            label
              input.visually-hidden(type="radio" name="projects" value="2021" checked) 
              span 2021
          li.projects-navigation__item 
            label
              input.visually-hidden(type="radio" name="projects" value="2020") 
              span 2020
          li.projects-navigation__item 
            label
              input.visually-hidden(type="radio" name="projects" value="2019") 
              span 2019
          li.projects-navigation__item 
            label
              input.visually-hidden(type="radio" name="projects" value="2018") 
              span 2018
          li.projects-navigation__item 
            label
              input.visually-hidden(type="radio" name="projects" value="2017") 
              span 2017
        a.projects__btn.btn-tertiary(href="#") Смотреть портфолио
      ul.projects__list 
        li.projects__item.projects-item
          a.projects-item__link(href="#") 
            picture.projects-item__wrap
              source(type="image/webp" srcset="images/projects.jpg")
              img.projects-item__img(src="images/projects.jpg" alt="Коллекция атласных теплых желеток для осени и весны лето")
            span.projects-item__brand Levitacia
            h3.projects-item__title Коллекция атласных теплых желеток для осени и весны лето
            .projects-item__btn
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.4">
                  <path d="M18.0002 10.0003L12.6668 4.66699M18.0002 10.0003L12.6668 15.3337M18.0002 10.0003L1.3335 10.0003"/>
                </g>
                <!-- ТЕГ С ГРАДИЕНТОМ ВЫВЕСТИ ТОЛЬКО ОДИН РАЗ!-->
                <linearGradient id="paint0_linear" x1="18.7127" y1="5.97517" x2="-0.785498" y2="11.3699" gradientUnits="userSpaceOnUse">
                  <stop offset="0.213542" stop-color="#292CC8"/>
                  <stop offset="0.651042" stop-color="#43A3B7"/>
                  <stop offset="1" stop-color="#40D381"/>
                </linearGradient>
              </svg>

        li.projects__item.projects-item
          a.projects-item__link(href="#") 
            picture.projects-item__wrap
              source(type="image/webp" srcset="images/projects2.jpg")
              img.projects-item__img(src="images/projects2.jpg" alt="Коллекция зимних ветровок для прогулок и спорта")
            span.projects-item__brand Levitacia
            h3.projects-item__title Коллекция зимних ветровок для прогулок и спорта
            .projects-item__btn
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.4">
                  <path d="M18.0002 10.0003L12.6668 4.66699M18.0002 10.0003L12.6668 15.3337M18.0002 10.0003L1.3335 10.0003"/>
                </g>
              </svg>
        li.projects__item.projects-item
          a.projects-item__link(href="#") 
            picture.projects-item__wrap
              source(type="image/webp" srcset="images/projects3.jpg")
              img.projects-item__img(src="images/projects3.jpg" alt="Коллекция ярких ветровок для спорта летом и зиними вечерами")
            span.projects-item__brand Levitacia
            h3.projects-item__title Коллекция Sport 2.0 для концептуального бренда одежды
            .projects-item__btn
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.4">
                  <path d="M18.0002 10.0003L12.6668 4.66699M18.0002 10.0003L12.6668 15.3337M18.0002 10.0003L1.3335 10.0003" />
                </g>
              </svg>

  section.why.margin-section
    .container
      h2.h1title Почему выбирают нас?
      ul.why__content
        li.why__item.why-item
          span.why-item__num(data-count="1") 1
          h3.why-item__title <span class="hint">Профессиональный</span> подход
          p.why-item__text Процесс разработки и производства изделий и макетов, требует высоких компетенций специалистов из&nbsp;разных&nbsp;областей
        li.why__item.why-item
          span.why-item__num(data-count="2") 2
          h3.why-item__title <span class="hint">Быстрая</span> разработка
          p.why-item__text Большой опыт и знания в области производства одежды и проработки образцов позволяют гибко реагировать на&nbsp;пожелания заказчиков в сжатые сроки
        li.why__item.why-item
          span.why-item__num(data-count="3") 3
          h3.why-item__title <span class="hint">Индивидуальный</span> подход
          p.why-item__text Учитывая требования от заказчика, предлагаем свои решения отталкиваясь от&nbsp;полученного колоссального опыта

  section.partners#partners.margin-section
    .container
      h2.h1title Нам доверяют
    .partners__content
      ul.container.partners__container
        li.partners__item 
          a.partners__link(href="#") 
            picture
              source(type="image/webp" srcset="images/partner.png")
              img.partners__img(src="images/partner.png" alt="Левитация")
        li.partners__item 
          a.partners__link(href="#") 
            picture
              source(type="image/webp" srcset="images/partner2.png")
              img.partners__img(src="images/partner2.png" alt="Интернейшен")
        li.partners__item 
          a.partners__link(href="#") 
            picture
              source(type="image/webp" srcset="images/partner3.png")
              img.partners__img(src="images/partner3.png" alt="Невские барсы")
        li.partners__item 
          a.partners__link(href="#") 
            picture
              source(type="image/webp" srcset="images/partner4.png")
              img.partners__img(src="images/partner5.png" alt="Красная звезда")

  section.about#about.margin-section
    .container.about__container
      .about__col.tabs
        h2.h1title.about__title О нас
        p.about__text С 2015 года выполняя заказы брендов разного сегмента, работая с разными материалами, сформировалась дружественная команда из профессионалов. Наша цель - воплотить в реальность в сфере fashion запросы молодых, прогрессивных и опытных дизайнеров
        ul.about__navigation.about-navigation
          li.about-navigation__item 
            button.about-navigation__btn.tabs__btn.tabs__btn--active(data-tab="1") Контроль качества
        .about__tab.about-tab.tabs__container.tabs__container--active(data-tab="1")
          p Внутри производственного процесса существует 4 уровня контроля качества:
          p 1. Пооперационный пошив контролируется мастерами внутри цеха.<br>2. Во время влажно термической обработки (ВТО) проверяется качество пошива строчек.<br>3. После ВТО изделия передаются на отдел технического контроля (ОТК), где проверяются все основные элементы.<br>4. После ОТК изделия передаются на упаковку, где так же сотрудники тщательно осматривают изделие.
      .about__col 
        picture
          source(type="image/webp" srcset="images/about-boy.png")
          img.about__img(src="images/about-boy.png" alt="О нас")


