.notfound {
  height: calc(100vh - 182px);
  background: url('../images/404.svg') center top repeat;
  @media screen and (max-height: 800px) {
    background: url('../images/404-laptop.svg') center top repeat;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &__title {
    margin-top: 89px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 230px;
    line-height: 332px;
    @media screen and (max-height: 800px) {
      margin-top: 2px;
    }
  }
  &__text {
    margin-top: -22px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 130%;
  }
  &__btns {
    display: flex;
  }
  &__btn {
    padding: 13px 25px;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
