.notfound {
  height: calc(100vh - 182px);
  min-height: 591px;
  background: url('../images/404.svg') center top repeat;
  @media screen and (max-height: 800px) {
    background: url('../images/404-laptop.svg') center top repeat;
  }
  @include w1023 {
    height: calc(100vh - 165px);
    min-height: 421px;
    background: url('../images/404-tablet.svg') center top repeat;
  }
  @include w767 {
    height: auto;
    min-height: 578px;
    background: url('../images/404-mobile.svg') center top repeat;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &__title {
    margin-top: 89px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 230px;
    line-height: 332px;
    @media screen and (max-height: 800px) {
      margin-top: 2px;
    }
    @include w1023 {
      margin-top: 27px;
      font-size: 110px;
      line-height: 159px;
    }
    @include w767 {
      margin-top: 66px;
    }
  }
  &__text {
    margin-top: -22px;
    margin-bottom: 56px;
    text-align: center;
    font-size: 18px;
    @include w1023 {
      margin-top: 11px;
      margin-bottom: 41px;
      font-size: 13px;
    }
    @include w767 {
      margin-bottom: 50px;
    }
    p {
      &:not(:last-child) {
        @include w1023 {
          margin-bottom: 17px;
        }
      }
    }
  }
  &__btns {
    display: flex;
    @include w767 {
      flex-direction: column;
    }
  }
  &__btn {
    padding: 13px 25px;
    @include w1023 {
      padding: 10px 37px;
    }
    @include w767 {
      width: 192px;
      padding: 10px 0;
    }
    &:not(:last-child) {
      margin-right: 16px;
      @include w767 {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}
