.case {
  &__content {
    display: grid;
    grid-template-columns: calc(66.9% - 7.5px) calc(33.1% - 7.5px);
    grid-gap: 15px;
    @include w1023 {
      position: relative;
      grid-template-columns: 100%;
      grid-gap: 21px;
      padding-top: 435px;
    }
    @include w767 {
      padding-top: 365px;
    }
  }
  &__slider {
    margin-bottom: 41px;
    padding-bottom: 45px;
    @include w1023 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    @include w767 {
      transform: translateX(-15px);
      width: 100vw;
      padding-left: 15px;
    }
  }
  &-slider {
    &__wrapper {
      padding-left: 0;
      list-style: none;
    }
    &__slide {
      height: 360px;
      @include w767 {
        width: 289px;
        height: 289px;
      }
    }
    &-slide {
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      z-index: 3;
      top: auto;
      bottom: 0;
      width: 20px;
      height: 20px;
      margin-top: 0;
      transition: 0.1s;
      &:hover,
      &:focus {
        g {
          opacity: 1;
        }
        path {
          stroke: $primary-dark-color;
        }
      }
      &:after {
        display: none;
      }
      &.swiper-button-disabled {
        opacity: 1;
      }
    }
    .swiper-button-prev {
      right: 48px;
      left: auto;
      @include w767 {
        right: 63px;
      }
    }
    .swiper-button-next {
      right: 0;
      @include w767 {
        right: 15px;
      }
    }
    .swiper-pagination {
      z-index: 2;
      bottom: 3px;
      text-align: left;
      @include w767 {
        left: 15px;
      }
      &-bullet {
        width: 3px;
        height: 3px;
        margin: 0 5px !important;
        opacity: 1;
        background: linear-gradient(
          90deg,
          rgba(64, 211, 129, 0.15) -1.32%,
          rgba(67, 163, 183, 0.15) 10.38%,
          rgba(41, 44, 200, 0.15) 97.79%
        );

        &:hover,
        &:focus {
          background: $neutral-color-1;
        }
        &.swiper-pagination-bullet-active {
          transition: 0.3s;
          width: 18px;
          background: linear-gradient(90deg, #40d381 -54.63%, #43a3b7 4.38%, #292cc8 110.02%);
          opacity: 0.7;
          border-radius: 6px;
        }

        &:first-child {
          margin-left: 0 !important;
        }
      }
    }
  }
  &-info {
    .about__navigation {
      margin-bottom: 25px;
      border-bottom: 1px solid $blue-border-color;
      @include w1023 {
        margin-bottom: 20px;
      }
    }
    &__tab {
      font-size: 18px;
      line-height: 130%;
      display: none;
      @include w1023 {
        font-size: 14px;
      }
      &.tabs__container--active {
        display: block;
      }
    }
    &-tab {
      ul {
        counter-reset: tabList;
        list-style: none;
        padding-left: 0;
        &:not(:last-child) {
          margin-bottom: 40px;
          @include w1023 {
            margin-bottom: 30px;
          }
        }
        li {
          position: relative;
          padding-left: 59px;
          @include w1023 {
            padding-left: 55px;
          }
          @include w767 {
            padding-left: 43px;
          }
          &:before {
            counter-increment: tabList;
            content: '0' counter(tabList);
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            @include w1023 {
              font-size: 14px;
            }
          }
          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 20px;
            width: 33px;
            height: 1px;
            background: linear-gradient(
              76.18deg,
              rgba(64, 211, 129, 0.15) 11.14%,
              rgba(67, 163, 183, 0.15) 22.07%,
              rgba(41, 44, 200, 0.15) 80.26%
            );
            @include w1023 {
              top: 18px;
              width: 30px;
            }
          }
          &:not(:last-child) {
            margin-bottom: 25px;
            @include w1023 {
              margin-bottom: 23px;
            }
          }
        }
      }
      &__backgroundtext {
        position: relative;
        padding: 26px 26px 26px 59px;
        background-color: $blue-light-light-color;
        @include w1023 {
          padding: 23px 23px 23px 53px;
        }
        @include w767 {
          padding: 17px 17px 17px 43px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 33px;
          height: 100%;
          background: linear-gradient(
            76.18deg,
            rgba(64, 211, 129, 0.15) 11.14%,
            rgba(67, 163, 183, 0.15) 22.07%,
            rgba(41, 44, 200, 0.15) 80.26%
          );
          opacity: 0.2;
          @include w1023 {
            width: 30px;
          }
          @include w767 {
            width: 26px;
          }
        }
      }
    }
  }
  &__aside {
    position: sticky;
    top: 10px;
    height: 360px;
    padding: 25px 33px 24px 29px;
    background-color: $blue-light-light-color;
    @include w1023 {
      position: static;
      order: -1;
      padding: 20px 0;
      height: auto;
    }
    @include w767 {
      padding: 23px 15px;
    }
  }
  &-aside {
    &__title {
      position: relative;
      margin-top: 0;
      margin-bottom: 18px;
      padding-bottom: 18px;
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      @include w1023 {
        display: none;
      }
      @include w767 {
        display: block;
        margin-bottom: 12px;
        padding-bottom: 16px;
        font-size: 15px;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(
          181.3deg,
          rgba(64, 211, 129, 0.15) -1.32%,
          rgba(67, 163, 183, 0.15) 10.38%,
          rgba(41, 44, 200, 0.15) 97.79%
        );
      }
    }
    &__content {
      padding-left: 0;
      list-style: none;
      @include w1023 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      @include w767 {
        display: block;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      @include w1023 {
        display: block;
        padding: 16px 21px;
      }
      @include w767 {
        display: flex;
        padding: 0;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
        @include w1023 {
          margin-bottom: 0;
          border-right: 1px solid $blue-border-color;
        }
        @include w767 {
          margin-bottom: 9px;
          border: none;
        }
      }
    }
    &__subtitle {
      margin: 0;
      margin-right: 5px;
      font-weight: 300;
      font-size: 16px;
      line-height: 130%;
      @include w1023 {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 15px;
        line-height: 110%;
      }
      @include w767 {
        margin-right: 3px;
        margin-bottom: 0;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
      }
    }
    &__text {
      margin: 0;
      @include w1023 {
      }
      span {
        font-weight: 500;
      }
    }
  }
}
