$primary-color: #2469e9;
$primary-dark-color: #0c4ec8;
$primary-light-color: #5583d8;

$blue-border-color: #e5ecfb;
$blue-light-color: #f3f7fd;
$blue-light-light-color: #fbfcfe;

$neutral-color-1: #1a1a1a;
$neutral-color-2: #5c5c5c;
$neutral-color-3: #828385;
$neutral-color-4: #8c8c8c;
$neutral-color-5: #c0c0c1;
$neutral-color-6: #d9d9da;
$neutral-color-7: #e6e6e7;
$neutral-color-8: #f5f5f6;
$neutral-color-9: #fafafa;
$neutral-color-10: #fefefe;

$accents-error-color: #f65165;
